yt-automation-n8n/🟢 Subflow - Render.json
{
  "name": "🟢 Subflow - Render",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://f8o844sc0oocgckwswsc8s8g.82.180.147.16.sslip.io/render_scene_v3_subtitles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{\nJSON.stringify({\n  \"scene\": $('Loop Over Items').item.json.Scene || \"Unknown\",\n  \"image_urls\": [\n    $('Loop Over Items').item.json.imagePublicUrl || \"https://placehold.co/1280x720?text=Image1+Missing\",\n    $('Loop Over Items').item.json.imagePublicUrl2 || \"https://placehold.co/1280x720?text=Image2+Missing\",\n    $('Loop Over Items').item.json.imagePublicUrl3 || \"https://placehold.co/1280x720?text=Image3+Missing\"\n  ],\n  \"audio_url\": $('Loop Over Items').item.json.audioPublicUrl || \"None\",\n  \"bgm_url\": $('Map BGM to Mood').item.json.bgm_url\n})\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "video"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        -880
      ],
      "id": "2f0d88dc-2675-445e-a927-618f1f89d13b",
      "name": "Render Scene Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        -576
      ],
      "id": "b77c0e0e-bde0-422d-9144-bed5d24e979b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"finalPublicUrl\": \"https://pub-4805fa7fcbc0475a8824e062d1c298ed.r2.dev/{{ $('Webhook').item.json.body.folder_id }}/Rendered/{{ $('Loop Over Items').item.json.Scene }}.mp4\",\n  \"sceneNumber\": \"{{ $('Loop Over Items').item.json.Scene }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -448
      ],
      "id": "5a3c7518-11dd-4269-a885-5a833681836d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6564126-fe31-4b6c-be72-3e14d1f2ebfd",
              "leftValue": "={{ $json.finalPublicUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        -352
      ],
      "id": "878cb3bd-2c58-458a-8167-3ece050d44e9",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "yt-scenes",
        "fileName": "={{ $('Webhook').item.json.body.folder_id }}/Rendered/{{ $('Loop Over Items').item.json.Scene }}.mp4",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        304,
        -448
      ],
      "id": "e7380fbe-85fd-4ad0-94ca-4214d4adc30e",
      "name": "Upload a file",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "s3": {
          "id": "2xEMopykliclEARw",
          "name": "S3 (R2 Cloudfare)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "BS3cU6fl4xJz5Z2o",
          "mode": "list",
          "cachedResultName": "YT Automate - Initial URLs",
          "cachedResultUrl": "/projects/5vjC7U0oHRviXQkd/datatables/BS3cU6fl4xJz5Z2o"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "audioPublicUrl",
              "condition": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -576
      ],
      "id": "3f295c5d-686f-4a21-9d5d-bb232b4fccea",
      "name": "Start Rendering",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "pjBqBAm7fEgW0Tbi",
          "mode": "list",
          "cachedResultName": "YT Automate - Final URLs",
          "cachedResultUrl": "/projects/5vjC7U0oHRviXQkd/datatables/pjBqBAm7fEgW0Tbi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Scene",
              "keyValue": "={{ $json.Scene }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -896,
        -352
      ],
      "id": "b27b0f2a-7fde-4f4b-b954-3d7dbc244ddd",
      "name": "Check Final URL Exist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "pjBqBAm7fEgW0Tbi",
          "mode": "list",
          "cachedResultName": "YT Automate - Final URLs",
          "cachedResultUrl": "/projects/5vjC7U0oHRviXQkd/datatables/pjBqBAm7fEgW0Tbi"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Scene",
              "keyValue": "={{ $('Edit Fields2').item.json.sceneNumber }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Scene": "={{ $('Edit Fields2').item.json.sceneNumber }}",
            "finalPublicUrl": "={{ $('Edit Fields2').item.json.finalPublicUrl }}",
            "story_id": "={{ $('Start Rendering').item.json.story_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Scene",
              "displayName": "Scene",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finalPublicUrl",
              "displayName": "finalPublicUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "story_id",
              "displayName": "story_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        704,
        -448
      ],
      "id": "334b2222-4a6c-415b-be5e-f06c2a444c74",
      "name": "Update Final URLs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "path": "render-stich",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1328,
        -576
      ],
      "id": "447e5b81-9994-40f8-9397-27824c6391eb",
      "name": "Webhook",
      "webhookId": "a431599e-df3e-441c-b738-b223fec00fae"
    },
    {
      "parameters": {
        "content": "## Render Scenes",
        "height": 656,
        "width": 2224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -640
      ],
      "typeVersion": 1,
      "id": "332061c5-f0e5-4a47-b52a-c1620971cf11",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1a64223-12d3-475f-9988-99851d4da63a",
              "leftValue": "={{ $('Loop Over Items').item.json.Scene }}",
              "rightValue": "={{ $('Webhook').item.json.body.total_scenes }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        -592
      ],
      "id": "e2bb2e82-8940-4fc2-bc09-ef4a135ddb6f",
      "name": "If2"
    },
    {
      "parameters": {
        "url": "http://f8o844sc0oocgckwswsc8s8g.82.180.147.16.sslip.io/cleanup?max_age_hours=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        -608
      ],
      "id": "ce565a9b-7846-4ba5-8406-f48b12445bca",
      "name": "FFMPEG Cleaunup",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://n8n.tinysaas.fun/webhook/stich",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "folder_id",
              "value": "={{ $('Start Rendering').item.json.story_id }}"
            },
            {
              "name": "idea",
              "value": "={{ $('Webhook').item.json.body.idea }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        -608
      ],
      "id": "4f216a6d-fc0f-4b9c-8d37-a7b6e6444a87",
      "name": "PPMPEG Concat"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -304,
        -448
      ],
      "id": "c1a5b4da-7b12-426d-a458-cba020d85db4",
      "name": "Wait",
      "webhookId": "d873013b-9765-4d29-a539-0c2741d02b8b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c53c395-ad3c-43f2-8096-59e1e5645945",
              "name": "bgm_url",
              "value": "={{(() => {\n  const mood = ($('Webhook').item.json.body.mood || \"Happy\")\n    .trim()\n    .replace(/[^a-zA-Z]/g, \"\");\n\n  const tracks = {\n    \"Sad\": \"https://pub-4805fa7fcbc0475a8824e062d1c298ed.r2.dev/assets/sad.mp3\",\n    \"Happy\": \"https://pub-4805fa7fcbc0475a8824e062d1c298ed.r2.dev/assets/happy.mp3\",\n    \"Action\": \"https://pub-4805fa7fcbc0475a8824e062d1c298ed.r2.dev/assets/action.mp3\",\n    \"Inspiring\": \"https://pub-4805fa7fcbc0475a8824e062d1c298ed.r2.dev/assets/inspiring.mp3\"\n  };\n\n  // Fallback to \"Happy\" if mood not found\n  return tracks[mood] || tracks[\"Happy\"];\n})()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -448
      ],
      "id": "a9f9dfdf-e0e9-4e58-95e6-66c0dfa6acec",
      "name": "Map BGM to Mood"
    },
    {
      "parameters": {
        "url": "http://f8o844sc0oocgckwswsc8s8g.82.180.147.16.sslip.io/cleanup?max_age_hours=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        -448
      ],
      "id": "a8129626-f787-48aa-a91a-210348e406ab",
      "name": "FFMPEG Cleaunup1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://f8o844sc0oocgckwswsc8s8g.82.180.147.16.sslip.io/download/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "test-key-123"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        -224
      ],
      "id": "c9f17df5-7c44-4fb4-ac7d-ebf078854c67",
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://8f668f75dfb3.ngrok-free.app/render_scene_v3_subtitles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "test-key-123"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{\nJSON.stringify({\n  \"scene\": $('Loop Over Items').item.json.Scene || \"Unknown\",\n  \"image_urls\": [\n    $('Loop Over Items').item.json.imagePublicUrl || \"https://placehold.co/1280x720?text=Image1+Missing\",\n    $('Loop Over Items').item.json.imagePublicUrl2 || \"https://placehold.co/1280x720?text=Image2+Missing\",\n    $('Loop Over Items').item.json.imagePublicUrl3 || \"https://placehold.co/1280x720?text=Image3+Missing\"\n  ],\n  \"audio_url\": $('Loop Over Items').item.json.audioPublicUrl || \"None\",\n  \"bgm_url\": $('Map BGM to Mood').item.json.bgm_url\n})\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -768,
        -896
      ],
      "id": "ac60b06a-dd64-4910-a225-f2b679a1e555",
      "name": "Render Scene [Local]1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "120e83d7-4aa4-416a-a32a-774a1b9fb9bf",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -208
      ],
      "id": "0aa96762-56bc-4f18-959e-71b0192ca108",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=http://f8o844sc0oocgckwswsc8s8g.82.180.147.16.sslip.io/job_status/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "test-key-123"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        -208
      ],
      "id": "7eb48c95-6117-4be4-86c8-f438e138235d",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        -208
      ],
      "id": "a18e2051-1127-4ede-9dff-e44117577ec7",
      "name": "Wait2",
      "webhookId": "73f7f9d7-bab4-40e3-aacb-16c6078b3b99"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fff5a5bb-77cd-4e18-8e24-6fc840abcea3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        -208
      ],
      "id": "604b2c3b-cf07-4bf2-8b45-fd0d5c9edc17",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://f8o844sc0oocgckwswsc8s8g.82.180.147.16.sslip.io/render_scene_v3_subtitles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{\nJSON.stringify({\n  \"scene\": $('Loop Over Items').item.json.Scene || \"Unknown\",\n  \"image_urls\": [\n    $('Loop Over Items').item.json.imagePublicUrl || \"https://placehold.co/1280x720?text=Image1+Missing\",\n    $('Loop Over Items').item.json.imagePublicUrl2 || \"https://placehold.co/1280x720?text=Image2+Missing\",\n    $('Loop Over Items').item.json.imagePublicUrl3 || \"https://placehold.co/1280x720?text=Image3+Missing\"\n  ],\n  \"audio_url\": $('Loop Over Items').item.json.audioPublicUrl || \"None\",\n  \"bgm_url\": $('Map BGM to Mood').item.json.bgm_url\n})\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        -208
      ],
      "id": "4218182e-c539-4231-8180-c5533ef8f5a1",
      "name": "Render Scene Video1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.tinysaas.fun",
            "user-agent": "axios/1.12.0",
            "content-length": "165",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.1.1",
            "x-forwarded-host": "n8n.tinysaas.fun",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "be92d452a53d",
            "x-real-ip": "10.0.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "tg_chat_id": "594158883",
            "idea": "राजा की जादुई पतंग",
            "total_scenes": 6,
            "folder_id": "story_2026-01-14T05-39-27-783Z",
            "mood": "Inspiring"
          },
          "webhookUrl": "https://n8n.tinysaas.fun/webhook/render-stich",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Render Scene Video": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Final URL Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Update Final URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "FFMPEG Cleaunup1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Rendering": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Final URL Exist": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final URLs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Start Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "PPMPEG Concat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPMPEG Concat": {
      "main": [
        [
          {
            "node": "FFMPEG Cleaunup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFMPEG Cleaunup": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Map BGM to Mood",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map BGM to Mood": {
      "main": [
        [
          {
            "node": "Render Scene Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFMPEG Cleaunup1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Scene [Local]1": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Scene Video1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9a0e8174-b41d-4f8a-91b2-0ebbf12fed92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26999db1e681e6a87364716419329ff310f36bdcdb3a6fae594cdba3a86aed90"
  },
  "id": "aH0QbU6gp1qKs3dd",
  "tags": []
}